@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Restablecer Contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña ha sido restablecida <a asp-page="./Login">Click aqui para iniciar sesion</a>.
</p>
