@using Microsoft.AspNetCore.Identity;
@using Proyecto.Views.Roles.ViewModels;
@model RoleCreateViewModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<div>
    <h4>Roles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RoleName" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>