@{
    ViewData["Title"] = "FP Ingenieria";
}  
 <div class= "text-center">
  <img src="~/img/LOGO FP.png"><style>img{width:250px;height:150px} </style>
   <style> body{background-color:rgb(90, 230, 90)} </style>
   <center></center> <br> 
    @if(User.Identity.IsAuthenticated)
   {
     <partial name="_Banner" />
   }
   </div>
   

