@{
    ViewData["Title"] = "Home Page";
}  
   <style> body{background-color:rgb(90, 230, 90)} img{width:250px;height:150px}</style>
   <center><img src="~/img/LOGO FP.png"></center> <br> 
   <div class= "text-center">
   @if(User.Identity !=null)
   {
     <partial name="_Banner" />
   }
   </div>

