@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">FP Ingenieria</h1> <br>
    <style> body{background-color:rgb(14, 84, 14)} img{width:250px;height:150px}</style>
   <partial name="_Banner" />
</div>
